body {
  margin: 0px;
  font-family: Arial;
  background: #f7f7f7;
  display: grid;
  gap: 3.75rem;
  justify-items: center;
  margin-top: 3.75rem;
  position: relative;
}
header{
  display: grid;
  justify-items: center;
  gap: 3.75rem;
}
img {
  max-width: 100%;
  display: block;
}
a {
  text-decoration: none;
}
nav ul {
  list-style: none;
  display: flex;
  padding: 0px;
}
p,
h1,
h2,
h3,
li,
ul {
  margin: 0px;
}
p {
  font-size: 1.25rem;
  line-height: 1.3;
}
.subtitulo{
  background: url("./img/onda.svg");
}
.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: center;
}
.menu li a:hover {
  border: 2px solid #e21;
}
.menu li a {
  display: block;
  background-color: #fff;
  padding: 1rem 2rem;
  border-radius: 4px;
  color: #000;
  
}
.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}
.introducao {
  background: #fff;
  padding: 40px;
  text-align: right;
  position: relative;
  display: grid;
  align-content: center;
  gap: 20px;
  justify-items: end;
}
.button-vermais {
  background: #e21;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 4px;
}
h1::before {
  content: "";
  width: 60px;
  height: 4px;
  background: #e21;
  position: absolute;
  top: 30px;
  right: -30px;
  z-index: 2;
}
.subtitulo {
  font-size: 4rem;
  color: rgba(0, 0, 0, 0.2);
  text-align: right;
  padding: 40px;
  align-self: center;
}
.vantagens {
  background: #fff;
  padding: 40px;
}
.vantagens-item {
  display: grid;
  gap: 10px 20px;
  padding: 20px;
  grid-template-columns: auto 1fr;
}
.vantagens-item p {
  grid-column: 2;
}
.vantagens-item:nth-child(odd){
  background-color: #f7f7f7;
}
.vantagens-item:hover {
  border-left: 2px solid #e21;
}
.rodape {
  background: #fff;
  width: 100%;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
}
